links {
	imhdss  url="https://github.com/atalii/is-my-hard-disk-still-spinning"
	weather url="https://wttr.in"
	filler  url="https://example.com"
	"also filler" url="https://example.com"
	"lorem ipsum" url="https://example.com"
}

services {
	tailscaled
	postgres
	imhdss
}

meta {
	slogan "TaliCorp™ has officially divested from all fracking engagements following a Q4 revenue failure."
	slogan "Please heed the recall of all TaliCorp™ brand metallurgy products."
	slogan "TaliCorp™ advises all employees to avoid manufacturing sub-section G-9."
	slogan "TaliCorp™ sincerely does not know how it stays in business. It suspects government subsidies."
}
